.video-container {
    position: fixed;
    top: 50;
    left: 50;
    width: 50%;
    height: 50%;
    background: rgba(0,0,0,0.9);
}

    .video-container video {
        /* Here is what I want to know how to make it fit the way we want */
    }

    .video-container video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-image: url("../../img/paypal.png");
        background-position: center center;
        background-size: contain;
        object-fit: cover;
      
    }

    
